div
{
    text-align: center;
}

.box 
{
    width: 90%;
    border: 15px solid red;
    padding: 50px;
    margin: 20px;
}

nav li 
{
    float: left;
}

nav ul
{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: red;
    display: flex;
}

nav li a 
{
    display: block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
li a:visited
{
    color: white;
}
li a:active
{
    color: darkred;
}
li a:hover
{
    color: mediumseagreen;
}
.bannerImage img
{
    width: 250px;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.saleLogo img
{
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.contactForm img
{
    position: absolute;
    left: 35%;
    top: 375px;
    z-index: -1;
    max-width: 30%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

#first
{
    font-family: Arial, Helvetica, sans-serif;
}

#last
{
    font-family: 'Times New Roman', Times, serif;
}

#emailStyle
{
    font-family: 'Courier New', Courier, monospace;
}

#text
{
    font-family: Arial, Helvetica, sans-serif;
}

#regionStyle
{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

label{
    display: block;
}

label::first-letter
{
    color:red;
}

input[type=text]:focus
{
    background-color: red;
}

.productGrid
{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 10px;
}

.productGrid img{
    border-radius: 8px;
}

.productGrid h2{
    font-family: Arial, Helvetica, sans-serif;
}

.productGrid p
{
    font-family: Arial, Helvetica, sans-serif;
    padding: 15px;
}

.product
{
    padding: 5px;
}

.product img 
{
    width: 300px;
    height: auto;
}

.dealsGrid
{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 10px;
}

.dealsGrid img{
    border-radius: 8px;
}

.dealsGrid h2{
    font-family: Arial, Helvetica, sans-serif;
    color: mediumseagreen;
}

.dealsGrid p
{
    font-family: Arial, Helvetica, sans-serif;
    padding: 15px;
}

.deal
{
    padding: 5px;
}

.deal img 
{
    width: 300px;
    height: auto;
}

/* .deal:hover
{
    transform: scale(1.25);
    animation-name: backgroundColor;
    animation-duration: 3s;
} */

@keyframes backgroundColor
{
    from {background-color: white;}
    to {background-color: red;}
}

.deal span{
    color:mediumseagreen;
}

table 
{
    border: 1px solid black
}
td 
{
    border: 1px solid black
}
th 
{
    border: 1px solid black
}
table.dealList
{
    margin-left: auto;
    margin-right: auto;
}
tr:nth-child(odd)
{
    background-color: red;
}
tr:nth-child(1)
{
    background-color: darkred;
    color: white;
    font-weight: bold;
}